html {
    padding: 0;
}
body {
    margin: 0;
    color: white;
}

.diagonal-box {
	background-image: linear-gradient(45deg, #654ea3, #eaafc8);
	transform: skewY(-11deg);
}

.content {
	max-width: 50em;
	margin: 0 auto;
	transform: skewY(11deg);
}

.diagonal-box {
    position: relative;
}

.diagonal-box:before {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background-image: linear-gradient(45deg, #654ea3, #eaafc8); 	
   transform: skewY(-11deg);
}

.content {
   max-width: 50em;
   margin: 0 auto;
   position: relative;
}