html {
  padding: 0;
}

html,
body,
aside,
main {
  height: 100%;
  border-radius: 4px;
}

body {
  margin: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

aside,
main {
  background-color: lightgray;
}

.body-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.body-container * + * {
  margin-left: 8px;
}

.body-container * {
  flex: 3;
}

.body-container :first-child,
.body-container :last-child {
  flex: 1;
}

.content {
  min-width: 300px;
  max-width: min(100%, 650px);
  height: 100%;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
